
body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #000000, #2f3847); /* moderni plavi gradient */
  color: #f0f0f0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#clock {
  font-size: 5rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  letter-spacing: 6px;
  transition: all 0.3s ease;
}

#clock:hover {
  transform: scale(1.05);
  background: rgba(243, 238, 238, 0.327);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

#date {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #d1d1d1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}


footer {
  margin-top: 50px;
  font-size: 1.2rem;
  color: #cfcfcf;
  opacity: 0.8;
  transition: opacity 0.3s ease, color 0.3s ease;
}

footer:hover {
  opacity: 1;
  color: #ffffff;
}
